* {
  font-family: 'Poppins', sans-serif;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 5rem;
}

ul {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}

.pharmacy {
  padding: 0.2rem 1rem;
  border-radius: 5px;
}

.pharmacy p {
  font-style: italic;
}

section {
  padding: 1rem;
}

#hero {
  display: grid;
  gap: 1rem;
}

#hero-img {
  border-radius: 20px;
  margin-top: 2rem;
}

#hero img {
  width: 100%;
  border-radius: 20px;
}

button {
  background-color: #142338;
  color: #fff;
  border: none;
  padding: 0.6rem 2rem;
  border-radius: 5px;
  cursor: pointer;
}

input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #142338;
  outline: none;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  ul {
    grid-template-columns: repeat(2, 1fr);
  }

  #hero {
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
  }

  h1 {
    font-size: 3rem;
  }

  #hero p {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  #hero > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #hero button {
    padding: 0.8rem 2.5rem;
    font-size: 1.2rem;
    width: fit-content;
  }
}
